{% extends 'miloapp/base.html' %}
{% load bootstrap_toolkit %}

{% block title %} Edit - {{ user.username }} {% endblock %}

{% block body %}
    <h3>Edit user</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-success">Apply</button>
    </form>
{% endblock %}