{% extends 'miloapp/base.html' %}
{% load milo_tags %}

{% block title %} List of all users {% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Birthday</th>
                <th>Eligible</th>
                <th>Random Number</th>
                <th>BizzFuzz</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.date_of_birth }}</td>
                    <td>{% eligible user.date_of_birth %}</td>
                    <td>{{ user.random_number }}</td>
                    <td>{% bizz_fuzz user.random_number %}</td>
                    <td>
                        <a href="{% url 'view' user.username %}">View</a>
                        <a href="{% url 'edit' user.username %}">Edit</a>
                        <a href="{% url 'delete' user.username %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'download' %}">Download CSV with all users</a>
{% endblock %}