{% extends 'miloapp/base.html' %}

{% block title %} User - {{ user.username }} {% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">Username: {{ user.username }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
        <li class="list-group-item">Birthday: {{ user.date_of_birth }}</li>
        <li class="list-group-item">Random number: {{ user.random_number }}</li>
    </ul>
{% endblock %}